# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Universal defaults
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# License and documentation files
[LICENSE]
trim_trailing_whitespace = false
